*{
    margin: 0;
    padding: 0;
}

section h1{
    padding: 0px 10px 0px 35px;
    background: #B36050;
    text-align: center;
    font-size: large;
}

.img{
    text-align: center;
}

.one{
    text-align: center;
}

.text{
    text-align: center;
    background: D;
    color: white;
    padding-top: 20px;
}

section {
    text-align: center;
 
    
    padding-top: 70px;
    font-size: xx-large;
}

section button{

color:green;
padding: 10px 0px 10px 0px;
font-size: medium;
width: 128px
}

.title{
    text-align: center;
   
    padding: 100px 0px 0px 0px;
}


.images{
    width: 500px;
    display: inline-block;
    text-align: center;
    padding-top: 100px;
}

.img_3{
    text-align: center;
    padding-top: 50px;
}

.microlab{
    text-align: center;
    border-radius: 10px;
    padding-top: 20px;
   
    display: inline-block;
}

.images_6{
    text-align: center;
    padding-top: 50px;
}

.padding{
    text-align: center;

}